<!DOCTYPE html>
<html>
<head>
  <title>ExerciseApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Memes</h1>
	<h3>This is an aweseome empty project of Peter, Liz and Hoa!</h3>
	<p>Wooooohoooooo</p>
<%= yield %>

</body>
</html>
